body {
  background-color: white;
}


div.textheader {
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Helvetica";
  text-align: center;
  padding-top: 45px;
}

div.texttt {
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Helvetica";
  text-align: center;
  padding-top: 45px;
}

div.textt {
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Helvetica";
  text-align: center;
  padding-top: 45px;
}

div.main {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Helvetica";
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

div.about {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Helvetica";
  text-align: left;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 60px;
}

div.aboutpics {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Helvetica";
  margin: auto;
  display: block;
  width: 40%;
  padding: 15px;

}

div.small {
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  font-family: "Helvetica";
  text-align: left;
  padding-top: 45px;
  padding-left: 50px;
}

div.textcontent {
  font-size: 18px;
  font-weight: 300;
  font-family: "Helvetica";
  text-align: left;
  padding-left: 50px;
}

/* unvisited link */
a:link {
  color: black;
}

/*visited*/
a:visited {
  color:black;
}

a:hover {
  color: rgb(144,213,213);
}


#header {
  background-color: rgba(255,255,255,0.9);
  color: black;
  font-family: "Helvetica";
  position: fixed;
  border-bottom-style: solid;
  border-color: rgba(2,0,178,.3);
  border-bottom-width: thin;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  padding: 0;
  margin: 0;

}
#proj {
  padding-top: 170px;
  margin: 5px;
}

#proj2 {
  padding-top: 40px;
  margin: 5px;
}

#content {
  padding-top: 150px;
  margin: 40px;
}
#content2 {
  padding-top: 150px;
  margin: 5px;
}

#content3 {
  font-family: "Helvetica";
  font-weight: 300;
  margin: 60px;
}

#content4 {

  font-family: "Helvetica";
  padding-top: 10px;
  margin: 40px;
}

#content5 {
  font-family: "Helvetica";
  font-weight: 300;
  margin: 58px;
}

#header #header-content {
  margin: 10px;
}
