body {


}

textarea#styled {
  width: 250px;
  height: 295px;
  background-color: rgba(142, 12, 58, 0.15);
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 0 0 0 20px;
  outline: none;
  border-color: rgba(142,12, 58, 0);
  border-radius: 18px;
  text-align: center;
  resize: none;
}

div.img {
  float: center;
}

img.round {
  border-radius: 25px;
}

div.text {
  padding:20px;
}

h1 {
  line-height: 1.0;
  font-weight: 200;
  font-size: 50px;
  color: rgb(142, 12, 58);
  text-shadow: 2px 2px 5px rgba(0,0,0, .4);
}

h2 {
  font-weight: 400;

}

a {
  font-size: 25px;
  text-decoration: none;
  font-weight: 300;
  color: #8e0c3a;
}
